body {
	border: 8px double tomato;
	border-radius: 15px;
	box-sizing: border-box;
	border-width: 1 1px;
	font-family: sans-serif;
	font-size: 2rem;
	margin: 20px auto;
	max-width: 700px;
	min-height: 100vh;
	padding:  4rem;
	background: beige;
}

ul {
	padding: 0;
	padding-left: 4rem;
}

ul li {
	padding: 1rem 0;
	
}

ul li:hover{
	color: tomato;
}

.done {
	text-decoration: line-through;
	color: lightgrey
}



button{
	margin: 0 5px;
	padding: 5px 10px;
	background: red;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	vertical-align: middle;

}

#newTask{
	background: green
}

input{
	font-size: 20px;
	vertical-align: middle
}

h5{
	color: tomato;
	margin: 40px 15px;
	padding-right: 270px;
	text-align: justify;
	font-size: .5em;
}

#help:hover {
	background: orange;
}

h1 {
	margin-bottom: 5px;
}